.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 64px;
  height: 31px;
  max-width: 100%;
  position: relative;
  border-radius: 40px;
  padding: 0px 0px 0px 31px;
  border: 2px solid #000000;
}
.rootinactive {
  padding-left: 0px;
  height: 31px;
}
.freeBox {
  display: block;
  width: 39px;
  height: 27px;
  max-width: 100%;
  background: #10d224;
  margin-bottom: 0px;
  flex-shrink: 0;
  border-radius: 40px;
  padding: 8px 8px 0px;
  border: 2px solid #000000;
}
.freeBoxinactive {
  background: #5a5e5a;
  width: 33px;
  flex-shrink: 0;
}
