.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__fuDc1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__mGs7N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 8px 4rem;
}
.freeBox__aWmiq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 80%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aWmiq {
    max-width: 100%;
  }
}
.freeBox__rLhUm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 45%;
  min-width: 0;
  padding: 2px 8px 0rem;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rLhUm {
    max-width: 100%;
  }
}
.freeBox__xxRc9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 106.34%;
  min-width: 0;
  padding: 16px 8px 3rem;
}
.buttonn___6H6Hr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-end;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonn___6H6Hr:global(.__wab_instance) {
    display: flex;
  }
}
.svg__kbLpV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__yDzYw {
  font-family: "Inconsolata";
  font-weight: 500;
  color: #000000;
}
.svg__yu1Sq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__sIlEa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sIlEa {
    align-self: flex-start;
    padding-top: 16px;
    display: flex;
  }
}
.text__wwKsZ {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #636363;
  letter-spacing: 0.025rem;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 600;
  font-family: "Inconsolata";
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wwKsZ {
    width: 148px;
    text-align: left;
    flex-shrink: 0;
  }
}
.text__zkzy7 {
  position: relative;
  width: 192px;
  height: auto;
  max-width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Inconsolata";
  font-weight: 600;
  color: #636363;
  text-align: right;
  letter-spacing: 0.025rem;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zkzy7 {
    display: block;
  }
}
.freeBox___7WgWk {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7WgWk {
    display: none;
  }
}
.freeBox__c3PH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img___11PzW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 0.75rem;
}
.img___11PzW > picture > img {
  object-fit: cover;
}
.img___11PzW > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___11PzW {
    display: none !important;
  }
}
.freeBox__a2Ii {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a2Ii {
    padding-left: 0px;
  }
}
.text__hLnx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.125rem;
  padding-bottom: 0.25rem;
  color: #383b3d;
  padding-top: 0.25rem;
  font-family: "Inconsolata";
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hLnx {
    padding-bottom: 1rem;
  }
}
.buttonn___2RghU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ff3Bw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__su8F {
  color: #000000;
  font-family: "Inconsolata";
  font-weight: 400;
}
.svg__iPmo9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___387SO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.buttonn__eIccl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__rdBud {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__jrfwc {
  color: #000000;
  font-family: "Inconsolata";
  font-weight: 400;
}
.svg__d7PyY {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.buttonn__pZMpw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 74px;
  margin-left: 15px;
  flex-shrink: 0;
}
.svg__uvTdN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__gLkPn {
  font-family: "Inconsolata";
  font-weight: 400;
  color: #000000;
}
.svg__nf2Du {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__o5Krq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0.5rem;
  min-width: 0;
  padding: 2.5rem 8px 8px 0px;
}
.img__y6Pm2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}
.img__y6Pm2 > picture > img {
  object-fit: cover;
}
.img__y6Pm2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__y9RY1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 2px;
  font-family: "Inconsolata";
  font-size: 1.25rem;
  font-weight: 700;
  color: #383b3d;
  padding-left: 21px;
  min-width: 0;
}
.text__i0M2T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 1rem;
  padding-top: 15px;
  font-family: "Inconsolata";
  color: #5a5d63;
  min-width: 0;
}
.img__vLxu9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 20rem;
  height: 20rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
}
.img__vLxu9 > picture > img {
  object-fit: cover;
}
.img__vLxu9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__nn3W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-family: "Inconsolata";
  font-weight: 600;
  min-width: 0;
}
.text__nkg8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 1rem;
  padding-top: 2px;
  font-family: "Inconsolata";
  color: #5a5d63;
  font-size: 0.875rem;
  min-width: 0;
}
.buttonn__qlsr4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 16px 0rem;
}
.svg__cR7Mt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__sx2Cp {
  font-family: "Inconsolata";
  font-weight: 400;
  color: #000000;
  font-size: 1.125rem;
  padding: 0.5rem 1.25rem;
}
.svg__fiSo7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__dw79D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 289px;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dw79D {
    padding-top: 0px;
    padding-left: 15px;
    width: 318px;
  }
}
.text__rbz26 {
  width: 100%;
  height: auto;
  max-width: 80%;
  font-family: "Inconsolata";
  color: #006db3;
  min-width: 0;
  padding: 8px 16px;
}
.text___6Kv9N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inconsolata";
  color: #006db3;
  font-size: 16px;
  min-width: 0;
  padding: 8px 16px;
}
.buttonn__uBosR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 383px;
  margin-bottom: 10px;
  margin-top: 68px;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonn__uBosR:global(.__wab_instance) {
    display: flex;
  }
}
.svg__yrmmQ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lCDg {
  color: #000000;
  font-size: 1.125rem;
  font-family: "Inconsolata";
  padding-right: 0px;
}
.svg__huURf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.img__tRdl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 20px;
  display: none !important;
}
.img__tRdl > picture > img {
  object-fit: cover;
}
.img__tRdl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tRdl {
    display: block !important;
  }
}
.img__qpEsy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.img__qpEsy > picture > img {
  object-fit: cover;
}
.img__qpEsy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__qpEsy {
    display: none !important;
  }
}
.freeBox___0DAjk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0DAjk {
    display: none;
  }
}
.freeBox__vuEkQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px 8px 3rem;
}
.text__u0VAd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #636363;
  letter-spacing: 0.025rem;
  text-align: right;
  padding-right: 34px;
  font-family: "Inconsolata";
  font-weight: 600;
  min-width: 0;
}
.buttonn__yzYei:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 202px;
  height: 51px;
  flex-shrink: 0;
}
.svg__lzM97 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__i0RSj {
  color: #000000;
  font-family: "Inconsolata";
  font-weight: 500;
}
.svg__nkhDf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__zuEm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__cOjxm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___1KaGl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inconsolata";
  font-size: 1.125rem;
  color: #383b3d;
  letter-spacing: 0.1rem;
  text-align: right;
  min-width: 0;
}
.text___7Bb41 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inconsolata";
  font-size: 1.125rem;
  color: #383b3d;
  text-align: right;
  letter-spacing: 0.1rem;
  min-width: 0;
}
.freeBox__q6Gck {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__rRKdy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inconsolata";
  font-size: 1.125rem;
  color: #383b3d;
  text-align: right;
  letter-spacing: 0.1rem;
  padding-right: 0px;
  min-width: 0;
}
.text__z4Jqo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inconsolata";
  font-size: 1.125rem;
  color: #383b3d;
  text-align: right;
  letter-spacing: 0.1rem;
  min-width: 0;
}
.freeBox__uNl1F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__yeqex {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inconsolata";
  font-size: 1.125rem;
  color: #383b3d;
  text-align: right;
  letter-spacing: 0.1rem;
  min-width: 0;
}
.text__iTyw3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inconsolata";
  font-size: 1.125rem;
  color: #383b3d;
  text-align: right;
  letter-spacing: 0.1rem;
  min-width: 0;
}
.text___9OlDl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 2rem;
  color: #383b3d;
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
  font-family: "Inconsolata";
  font-weight: 700;
  padding-right: 6px;
  min-width: 0;
}
.freeBox__zxrYp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 16px;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.freeBox__itl2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 8px 8px;
}
.text__paA5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.125rem;
  padding-top: 0.5rem;
  letter-spacing: 0.1rem;
  color: #5a5d63;
  text-align: right;
  margin-bottom: 1rem;
  min-width: 0;
}
.text__ufWhz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
  font-family: "Inconsolata";
  color: #5a5d63;
  min-width: 0;
}
.freeBox___3GuWv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 8px 8px;
}
.text__hZTjY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0.5rem;
  font-size: 1.125rem;
  color: #5a5d63;
  letter-spacing: 0.1rem;
  padding-bottom: 0px;
  text-align: right;
  margin-bottom: 1rem;
  min-width: 0;
}
.text__miJKb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-bottom: 1rem;
  padding-bottom: 0.75rem;
  font-family: "Inconsolata";
  color: #5a5d63;
  min-width: 0;
}
.freeBox___7TnWd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px 8px 8px;
}
.text__kYdXh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0.5rem;
  font-size: 1.125rem;
  color: #5a5d63;
  letter-spacing: 0.1rem;
  padding-bottom: 0px;
  text-align: right;
  padding-right: 0px;
  min-width: 0;
  margin: 0rem 0rem 1rem;
}
.text__adXaG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-bottom: 1rem;
  padding-bottom: 0.75rem;
  font-family: "Inconsolata";
  color: #5a5d63;
  min-width: 0;
}
.buttonn__vlh9T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 593px;
  margin-bottom: 32px;
  margin-top: 30px;
}
.svg__ga93Y {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xzdS {
  letter-spacing: 0.025rem;
  font-size: 1.125rem;
  color: #0a0a0a;
  font-family: "Inconsolata";
  font-weight: 600;
}
.svg__oyLiw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.img___66Ge0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___66Ge0 > picture > img {
  object-fit: cover;
}
.img___66Ge0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___0Q9Uw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
