.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__ya7B0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___17Etb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 8px 4rem;
}
.freeBox__tyn7Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 80%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tyn7Z {
    max-width: 100%;
  }
}
.freeBox__ayE9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 45%;
  min-width: 0;
  padding: 2px 8px 0rem;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ayE9 {
    max-width: 100%;
  }
}
.freeBox__l5Uze {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 106.34%;
  min-width: 0;
  padding: 16px 8px 3rem;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l5Uze {
    padding-bottom: 2rem;
  }
}
.buttonn__h5JQ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-end;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonn__h5JQ:global(.__wab_instance) {
    display: flex;
  }
}
.svg__ac6Qi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__rkwOa {
  font-family: "Inconsolata";
  font-weight: 500;
  color: #000000;
}
.svg___0Ago {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__fnGnV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fnGnV {
    align-self: flex-start;
    padding-top: 16px;
    display: flex;
  }
}
.text__liTvp {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #636363;
  letter-spacing: 0.025rem;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 500;
  font-family: "Inconsolata";
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__liTvp {
    width: 148px;
    text-align: left;
    flex-shrink: 0;
  }
}
.text__jjMkV {
  position: relative;
  width: 192px;
  height: auto;
  max-width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Inconsolata";
  font-weight: 600;
  color: #636363;
  text-align: right;
  letter-spacing: 0.025rem;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jjMkV {
    display: block;
  }
}
.freeBox___20OkR {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___20OkR {
    display: none;
  }
}
.freeBox__vMugf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.img__esyy1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 0.75rem;
}
.img__esyy1 > picture > img {
  object-fit: cover;
}
.img__esyy1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__esyy1 {
    display: none !important;
  }
}
.freeBox__nwAg9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 122px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nwAg9 {
    padding-left: 0px;
    height: 107px;
  }
}
.text__snCP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.125rem;
  padding-bottom: 0.25rem;
  color: #383b3d;
  padding-top: 0.25rem;
  font-family: "Inconsolata";
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__snCP {
    padding-bottom: 1rem;
  }
}
.buttonn__nCp2F:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jvReo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__tcwgd {
  color: #000000;
  font-family: "Inconsolata";
  font-weight: 400;
}
.svg___0Qjcu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__bC6Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2rem;
  padding-right: 6px;
  padding-bottom: 0.25rem;
  font-family: "Inconsolata";
  font-size: 1.25rem;
  font-weight: 700;
  color: #383b3d;
  text-align: left;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bC6Y {
    display: block;
  }
}
.text___9SJS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #007bff;
  font-family: "Inconsolata";
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9SJS {
    display: block;
  }
}
.buttonn__nCib7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 177px;
  margin-bottom: 10px;
  margin-top: 25px;
  align-self: flex-start;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonn__nCib7:global(.__wab_instance) {
    display: flex;
  }
}
.svg__sn2Qo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__zaW2N {
  color: #000000;
  font-size: 1.125rem;
  font-family: "Inconsolata";
  padding-right: 0px;
}
.svg__b9Ux {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.img__lkb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.img__lkb > picture > img {
  object-fit: cover;
}
.img__lkb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__lkb {
    display: none !important;
  }
}
.freeBox__hnkA9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hnkA9 {
    display: none;
  }
}
.freeBox__o8PAc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px 8px 3rem;
}
.text__b4OCw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #636363;
  letter-spacing: 0.025rem;
  text-align: right;
  padding-right: 34px;
  font-family: "Inconsolata";
  font-weight: 600;
  min-width: 0;
}
.buttonn__emc88:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 202px;
  height: 51px;
  flex-shrink: 0;
}
.svg___3CixE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__pLqfl {
  color: #000000;
  font-family: "Inconsolata";
  font-weight: 500;
}
.svg__zeOiI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__mXuJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__pe8Q3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__ndYea {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inconsolata";
  font-size: 1.125rem;
  color: #383b3d;
  letter-spacing: 0.1rem;
  text-align: right;
  min-width: 0;
}
.text__kn7Z0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inconsolata";
  font-size: 1.125rem;
  color: #383b3d;
  text-align: right;
  letter-spacing: 0.1rem;
  min-width: 0;
}
.freeBox__rwTtb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__hMqoc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inconsolata";
  font-size: 1.125rem;
  color: #383b3d;
  text-align: right;
  letter-spacing: 0.1rem;
  padding-right: 0px;
  min-width: 0;
}
.text___2Ex40 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inconsolata";
  font-size: 1.125rem;
  color: #383b3d;
  text-align: right;
  letter-spacing: 0.1rem;
  min-width: 0;
}
.freeBox__ut3Sr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__hR7K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inconsolata";
  font-size: 1.125rem;
  color: #383b3d;
  text-align: right;
  letter-spacing: 0.1rem;
  min-width: 0;
}
.text__m7QwG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inconsolata";
  font-size: 1.125rem;
  color: #383b3d;
  text-align: right;
  letter-spacing: 0.1rem;
  min-width: 0;
}
.text___1UyL3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 2rem;
  color: #383b3d;
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
  font-family: "Inconsolata";
  font-weight: 700;
  padding-right: 6px;
  min-width: 0;
}
.text__ahmE7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #007bff;
  font-size: 1rem;
  font-family: "Inconsolata";
  min-width: 0;
}
.buttonn__nOgDi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-end;
  margin: 16px 0px;
}
.svg__kK0Ov {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__slFYk {
  color: #000000;
  font-family: "Inconsolata";
  font-size: 1rem;
  letter-spacing: 0.025rem;
  font-weight: 600;
}
.svg__saIs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__beDh3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
